{% extends 'common/base.html' %}
{% load static %}
{% load item_extras %}

<!--タイトル -->
{% block title %}
	{% if 'employee_mst_regist' in request.path %}
		社員マスタ登録
	{% else %}
		社員マスタ更新
	{% endif %}
{% endblock title %}

<!--個別CSS -->
{% block load_css %}
<link rel="stylesheet" href="{% static 'app/css/employee/EMD0101.css' %}">
{% endblock %}

<!--メインコンテンツ -->
{% block contents %}
<div class="sen-main-contents">
	<p class="title">
		{% if 'employee_mst_regist' in request.path %}
			<b>社員マスタ登録</b>
		{% else %}
			<b>社員マスタ更新</b>
		{% endif %}
	</p>

    <!-- メッセージ表示 -->
	{% if messages %}
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		{% for message in messages %}
			{{ message }}
		{% endfor %}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	{% endif %}
	{% if form.errors.items %}
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			{% for key, value in form.errors.items %}
				{% get_employee_label key %}{{ value }}
			{% endfor %}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	{% endif %}

	<span id="mes" class="message"></span>

	<form method="POST" name="check">
		{% csrf_token %}
		<br></br>
		{% if 'employee_mst_regist' in request.path %}
			<p>	&emsp;&emsp;登録項目を入力してください。<b class="sen-required-position">は必須項目</b></p>
		{% else %}
			<p>&emsp;&emsp;更新項目を入力してください。<b class="sen-required-position">は必須項目</b></p>
		{% endif %}

		<div class="sen-line"></div>
		<div class="sen-required-position">
			<div class="sen-group-left-exist">
				<label class="sen-title-position">社員番号</label>
				{{ form.employee_cd }}
			</div>
		</div>

		<div class="sen-line"></div>
		<div class="sen-required-position">
			<div class="sen-group-left-exist">
				<label class="sen-title-position">氏名</label>
				{{ form.employee_name }}
			</div>
		</div>

		<div class="sen-line"></div>
		<div class="sen-group-left-nonexist">
			<label class="sen-title-position sen-cd">カナ氏名</label>
			{{ form.employee_name_kana }}
		</div>

		<div class="sen-line"></div>
		<div class="sen-required-position">
			<div class="sen-group-left-exist">
				<label class="sen-title-position sen-cd">入社年月</label>
				{{ form.hire_date_ym_disp }}
				{{ form.hire_date_ym.as_hidden }}
			</div>
		</div>

		<div class="sen-line"></div>
		<div class="sen-group-left-nonexist">
			<label class="sen-title-position">趣味</label>
			{{ form.hobby }}
		</div>

		<div class="sen-line"></div>
		<div class="sen-group-left-nonexist">
			<label class="sen-title-position sen-cd">保有資格1</label>
			{{ form.qualification1 }}
		</div>

		<div class="sen-line"></div>
		<div class="sen-group-left-nonexist">
			<label class="sen-title-position sen-cd ">保有資格2</label>
			{{ form.qualification2 }}
		</div>

		<div class="sen-line"></div>
		<div class="sen-group-left-nonexist">
			<label class="sen-title-position">保有資格3</label>
			{{ form.qualification3 }}
		</div>

		<div class="container mt-5">
			{% if not 'employee_mst_regist' in request.path %}
				<div class="row">
<!-- 							<input id="btn-back" type="button" class="btn-lg btn-position btn" value="戻る" -->
<!-- 							onclick="{{request.META.HTTP_REFERER}}"/> -->
							<input id="btn-back" type="button" class="btn-lg btn-position btn-position-bk btn" value="戻る"
							onClick="location.href='{% url 'app_usweb:employee_mst_refer' %}'"/>
						<input id="btn-update" type="submit" class="btn-lg btn-position btn" value="更新" onclick="funcdate()"/>
				</div>
			{% else %}
				<div class="row">
					<input id="btn-regist" type="submit" class="btn-lg btn-position btn" value="登録" onclick="funcdate()"/>
				</div>
			{% endif %}
		</div>
	</form>
</div>
{% endblock %}

<!--個別Javascript -->
{% block load_js %}
<script type="text/javascript" src="{% static 'app/js/employee/EMD0101.js' %}"></script>
 {% endblock %}