{% extends 'common/base.html' %}
{% load item_extras %}

<!--タイトル -->
{% block title %}社員マスタ検索{% endblock title %}

<!--個別CSS -->
{% block load_css %}
<style>
/*保有資格の入力フォーム*/
sen-mx {
	width: 270px !important;
}
/*社員番号の入力フォーム*/
.sen-numericW {
	text-align: center;
	width: 180px !important;;
	ime-mode: disabled;
}
/*テーブルの社員番号*/
.no {
	text-align: center;
	width: 13%;
}

.btn-em {
	width: 65px;
}

.name {
	width: 33%;
}
/*テーブルの入社年月日*/
.date {
	width: 10%;
	text-align: center;
}

.qf {
	width: 40%;
}

.btn-center {
	text-align: center;
}

/*検索条件のサイズ合わせ*/
.moji {
	font-size: 25px
}
</style>
{% endblock %}

<!--メインコンテンツ -->
{% block contents %}
<div class="sen-main-contents">
	<p class="title">社員マスタ検索</p>

    <!-- メッセージ表示 -->
	{% if err_msg %}
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			{{err_msg}}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	{% endif %}

	<form autocomplete="off" id="form" method="GET">
		<input type="hidden" class="" th:field="*{msg}" id="" name=""/>
		<h1><span id="mes" class="message"></span></h1>

		<div class="searchingbox">
			<div class="search-name">
				<p>検索条件</p>
			</div>
			<div class="sen-line">
				<div class="sen-group-left">
					<label class="sen-title">社員番号</label>
					<input type="text" class="form-control sen-numericW sen-sm" maxlength="6"
					 name = "employeeCd" id = "employeeCd" value="{{ request.GET.employeeCd }}"/>
				</div>
				<div class="sen-group-right-upper">
					<label class="sen-title">氏名</label>
					<input type="text" class="form-control sen-text sen-sm" size="20" maxlength="15"
					name="employeeName"	 value="{{ request.GET.employeeName }}" />
				</div>
			</div>
			<div class="sen-line">
				<div class="sen-group-left">
					<label class="sen-title ">入社年月</label>
					<input type="text" class="form-control sen-cd sen-sm"
						name="hireDate" id="hireDate" value="{{ request.GET.hireDate }}" />
				</div>
				<div class="sen-group-right-upper">
					<label class="sen-title">保有資格</label>
					{{ form.qualification1 }}
				</div>
				<p class="moji"></p>
			</div>
		</div>
		<div class="sen-line">
			<div class="sen-btn-right">
				<input type="submit" class="btn btn-primary btn-lg sen-btn-search submitbtn" id="search"
					value="検索" />
			</div>
		</div>
		<table
			class="table table-search table-striped table-hover table-bordered">
			<thead>
				<tr class="th-color">
					<th class="no">社員番号</th>
					<th class="name">氏名</th>
					<th class="date">入社年月</th>
					<th class="qf">保有資格</th>
					<th class="btn-em"></th>
					<th class="btn-em"></th>
				</tr>
			</thead>
			<tbody>
				{% for employee in employee_list %}
				<tr>
					<td class="no">{{ employee.employee_cd }}</td>
					<td class="name">{{ employee.employee_name }}</td>
					<td class="date">{{ employee.hire_date_ym }}</td>
					<td class="qf">{% autoescape off %}{{ employee.qualification1 }}{% endautoescape %}</td>
					<td style="vertical-align:middle"><input type="button" value="詳細" class="btn btn-info btn-md submitbtn" id = "${employee.employee_cd}"
								onclick="location.href='{% url 'app_usweb:employee_info_update' employee.pk %}'"></td>
					<td style="vertical-align:middle"><input type="button" class="btn btn-danger btn-md submitbtn btn-del" data-toggle="modal"
								data-target="#deleteModal" data-pk="{{ employee.employee_cd }}"
								data-url="{% url 'app_usweb:employee_info_delete' employee.pk %}" value="削除"></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</form>
</div>

    {# 削除を確認するモーダル ダイアログ #}
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">確認</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <p>社員番号: <span id="del_pk" value="data-pk"></span> の情報を削除しますか？</p>
          </div>
          <div class="modal-footer">
             <a href="#" class="btn btn-primary" id="del_url">OK</a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

 <!--個別Javascript -->
{% block load_js %}
<script>
	$(function() {
		$("#hireDate").datepicker({
			language : 'ja',
			startView : 1,
			format : 'yyyy年mm月',
			autoclose : true,
			immediateUpdates : true,
			minViewMode : 1,
			orientation : 'bottom',
		});
	});
	$(function() {
		  $('.btn-del').on('click', function () {
		     $("#del_pk").text($(this).data("pk"));
		     $('#del_url').attr('href', $(this).data("url"));
		  });
		});
</script>
 {% endblock %}