<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>TOP</title>
<script type="text/javascript" src="/js/common/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/js/common/jquery-ui.js"></script>
<script type="text/javascript" src="/js/common/bootstrap.bundle.js"></script>
<script type="text/javascript" src="/js/common/bootstrap-datepicker.js"></script>
<script type="text/javascript"
	src="/js/common/bootstrap-datepicker.ja.min.js"></script>
<script type="text/javascript" src="/js/common/bootstrap-select.js"></script>
<script type="text/javascript" src="/js/common/common.js"></script>
<link rel="stylesheet" type="text/css" href="/css/common/bootstrap.css" />
<link rel="stylesheet" type="text/css"
	href="/css/common/bootstrap3icons.css" />
<link rel="stylesheet" type="text/css"
	href="/css/common/bootstrap-theme.min.css" />
<link rel="stylesheet" type="text/css"
	href="/css/common/bootstrap-datepicker.min.css" />
<link rel="stylesheet" type="text/css"
	href="/css/common/bootstrap-select.min.css" />
<link rel="stylesheet" type="text/css" href="/css/common/style.css" />
<link rel="stylesheet" href="/fontawesome/all.min.css" />
<link rel="stylesheet" type="text/css" href="/css/common/member.css" />

<style type="text/css">
sen-numericW {
	text-align: right;
	width: 180px !important;
	ime-mode: disabled;
}
.sen-required-position::before {
    font-weight: bold;
    color: #CC0000;
    content: "＊";
    margin-left: 30px;
}

</style>


<!--画面独自JS-->
<script>
	$(function() {
		$("#datepicker3").datepicker({
			language : 'ja',
			startView : 1,
			format : 'yyyy/mm',
			autoclose : true,
			immediateUpdates : true,
			minViewMode : 1,
			orientation : 'bottom',
		});
	});
	
	
</script>
</head>
<body>
	<header class="sen-header">
		<div id="header-area" th:replace="common/header"></div>
	</header>
	<aside class="sen-menu " role="complementary" id="side">
		<div id="menu-area" th:replace="common/menu"></div>

	</aside>
	<main class="sen-contents clearfix" role="main" id="main">
	<div class="sen-main-contents">
	<form th:id="form" th:object="${form}" method="GET" >
	
	
	</form>
	</div>
	</main>
	<footer class="sen-footer">
		<div id="footer-area" th:replace="common/footer"></div>
	</footer>
</body>
</html>
