<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>社員情報検索</title>

  <!--JS-->

  <script type="text/javascript" th:src="@{/js/common/jquery-3.3.1.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/common/jquery-ui.js}"></script>
  <script type="text/javascript" th:src="@{/js/common/bootstrap.bundle.js}"></script>
  <script type="text/javascript" th:src="@{/js/common/bootstrap-datepicker.js}"></script>
  <script type="text/javascript" th:src="@{/js/common/bootstrap-datepicker.ja.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/common/bootstrap-select.js}"></script>
  <script type="text/javascript" th:src="@{/js/common/common.js}"></script>

  <link rel="stylesheet" type="text/css" th:href="@{/css/common/bootstrap.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/common/bootstrap3icons.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/common/bootstrap-theme.min.css}" />
  <link rel="stylesheet" type="text/css}" th:href="@{/css/common/bootstrap-datepicker.min.css}" />
  <link rel="stylesheet" type="text/css}" th:href="@{/css/common/bootstrap-select.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/common/style.css}" />
  <link rel="stylesheet" th:href="@{/fontawesome/all.min.css}" />

  <!--画面独自CSS-->
  <style type="text/css">
    /*テーブルのヘッダー色 ソートアイコンと設定するとCSSのが設定されないため*/
    #fav-table th {
      background-color: lightskyblue;
    }

    /* ソート対象外のヘッダにアイコンが表示されないようにするスタイルを追記*/
    .sorter-false {
      background-image: none;
    }
  </style>
  <!--画面独自JS-->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript"
    th:src="@{/js/common/jquery.tablesorter.min.js}"></script>
  
  <link rel="stylesheet" th:href="@{/css/trans/theme.default.min.css}" />
  <!--  
  <script>
    $(document).ready(function() {
      $('#fav-table').tablesorter({
        headers : {0 : {sorter : true},
          1 : {
            sorter : true
          },
          2 : {
            sorter : true
          },
          3 : {
            sorter : true
          },
          4 : {
            sorter : true
          },
          5 : {
            sorter : false
          }
        }
      });
    });
  </script>
  -->
  <script>
  $(function() {
    $(document).on("click",".submitbtn",
    function() {
      //検索ボタン押下時の処理。入力チェックに問題がなければControllerクラスのgetメソッドを呼び出す
      if ($(this).val() == '検索') {
        //検索条件欄の社員番号の値を取得
        var numberCheck =$('#form [name=employeeCd]').val();
        //社員番号の値が半角数字で入力されているか空白であれば下記の処理を実行
        if (numberCheck.match(/^[0-9]+$/) || numberCheck=="" ){
          var from = $('#form [name=contractSDate]').val();
          var to   = $('#form [name=contractEDate]').val();
          var date1 = new Date(from);
          var date2 = new Date(to);
          //契約期間のfromがtoよりも後日だった場合エラー処理
          if (date1>date2){
            $("#mes").html(MESSAGE.ERR008).css('color','red').css('border-bottom' ,'solid 1px red');
            $('html, body').animate({scrollTop:0});
          }else{
            event.preventDefault();
            var $form = $("form");
            $.ajax({
              type : 'GET',
              dataType : 'html',
              url :getContextUrl('/trans/employeeInfo/get'),
              data : $form.serialize(),
            }).done(function(data) {
              var error=data.indexOf("name=\"msg\" value=\"\"");
              if (error!=-1){
                $("table").html($("table", $(data)).html());	
                $("h1").html($("h1", $(data)).html());
              }else{
                $("#mes").html(MESSAGE.ERR001).css('color','red').css('border-bottom' ,'solid 1px red');
                $('html, body').animate({scrollTop:0});
              }
            })
          }
        //社員番号の値が不正であった場合エラー処理
        }else{
          $("#mes").html(MESSAGE.ERR005).css('color','red').css('border-bottom' ,'solid 1px red');
          $('html, body').animate({scrollTop:0});
        }
      }
      //詳細ボタン押下時の処理。詳細ボタンから値を取り出し、Controllerクラスで存在チェックを行う。
      if ($(this).val() == '詳細') {
        //社員番号を取得する。
        var employee_cd = $(this).attr("id");
        //詳細ボタンのnameタグ(レコード番号)を取得する
        var number = $(this).attr('name');
        //class=hidden2の項目を格納する配列
        var array =[];
        //class=hidden2のデータを配列に格納
        $('td[id =' + number +']').each(function(){
          text=$(this).html();
          array.push(text);
        });
        //PJコードを取得する
        var pj_cd = array[0];
        //存在チェックを実施する
        $.ajax({
          type : 'GET',
          dataType : 'json',
          url : getContextUrl('/trans/employeeInfo/check'),
          data : {
            employeeCd : employee_cd,
            pjCd : pj_cd
          }
        }).done(function(data) {
          var error = data["msg"];
          if (error==null){
            event.preventDefault();
            //詳細画面に移行する
            detail(number);
          }else{
            $("#mes").html(MESSAGE.ERR001).css('color','red').css('border-bottom' ,'solid 1px red');
            $('html, body').animate({scrollTop:0});
          }
        })
      }
      //詳細画面に遷移するメソッド
      function detail(number){
        //登録画面に送るパラメータを格納する配列
        var array = [];
        //詳細ボタンのnameタグと一致するtdタグのidから、要素を取得し配列に格納する
        $('td[id =' + number + ']').each(function(i){
          text = $(this).html();
          array.push(text);
        });
        var detailData = {
          recordNo:array[1],
          departmentCd:array[2],
          positionCd:array[3],
          qualificationCd1:array[4],
          qualificationCd2:array[5],
          qualificationCd3:array[6]
        };
        //配列をパラメータ化する
        var parameter = $.param(detailData);
        $.ajax({
          type : 'GET',
          dataType : 'html',
          url : getContextUrl('/trans/employeeInfo/detail'),
          data : detailData,
          processData: true,
        }).done(function(data){
        window.location.href = getContextUrl('/trans/employeeInfo/detail?' + parameter);
        })
      }
    })
  });
  </script>

  <style type="text/css">
    /*社員番号の入力フォーム*/
    .sen-numericW {
      text-align: center;
      width: 180px !important;;
      ime-mode: disabled;
    }
    /*テーブルのpj名*/
    .n_pj {
      text-align: center;
      width: 25%;
    }
    /*配置するボタンのサイズ*/
    .btn-em {
      width: 80px;
    }
    /*テーブルの社員名*/
    .name {
      width: 29%;
    }
    /*テーブルの入社年月日*/
    .date {
      width: 10%;
      text-align: center;
    }
    /*ボタンの配置*/
    .btn-ceter {
      text-align: center;
    }
    /*テーブルの契約期間(開始)*/
    .sdate {
      width: 15%;
    }
    /*テーブルの契約社員(終了)*/
    .edate {
      width: 15%;
    }
    /*検索条件のサイズ合わせ*/
    .moji {
      font-size: 25px
    }
    /*表示しないクラス(隠し項目)*/
    .hidden{
      display:none;
    }
    /*登録画面に渡す値(隠し項目)*/
    .hidden2{
      display:none;
    }
  </style>
</head>
<body>
  <object data="menu.html" type="text/html" id="sen-menu" style="display: none"></object>
  <object data="header.html" type="text/html" id="sen-header" style="display: none"></object>
  <object data="fooder.html" type="text/html" id="sen-footer" style="display: none"></object>

  <!--ヘッダ-->
  <header class="sen-header">
    <div id="header-area" th:replace="common/header"></div>
  </header>

  <!--メニュー-->
  <aside class="sen-menu" role="complementary" id="side">
    <div id="menu-area" th:replace="common/menu"></div>
  </aside>

  <!--コンテンツ-->
  <main class="sen-contents clearfix" role="main" id="main">
    <div class="sen-main-contents">
      <p class="title">社員情報検索</p>
      <form autocomplete="off" th:id="form" th:object="${form}" method="GET">
        <input type="hidden" class="" th:field="*{msg}" id="" name="" />
        <h1>
          <span id="mes" class="message"></span>
        </h1>
        <div class="searchingbox">
          <div class="search-name">
            <p>検索条件</p>
          </div>
          <div class="sen-line">
            <div class="sen-group-left">
              <label class="sen-title">社員番号</label> <input type="text"
              th:field="*{employeeCd}" class="form-control sen-numericW sen-cd"
              maxlength="6" name="employeeCd" id="employeeCd" />
            </div>
            <div>
              <p>　　　　　　　　　　　　</p>
            </div>
            <div class="sen-group">
              <label class="sen-title">契約期間</label>
              <!--開始年月-->
              <input type="text" id="datepicker" th:field="*{contractSDate}"
              name="contractSDate" class="form-control sen-date sen-sm "
              maxlength="10" />
            </div>
            <p class="tilde">～</p>
            <!--終了年月-->
            <div class="sen-group">
              <input type="text" id="datepicker2" th:field="*{contractEDate}"
              class="form-control sen-date sen-sm " name="contractEDate"
              maxlength="10" />
            </div>
          </div>
          <div class="sen-line">
            <div class="sen-group-left">
              <label class="sen-title">PJ名</label> <input type="text"
              id="sample" name="sample" th:field="*{pjName}"
              class="form-control sen-numericW sen-sm" maxlength="30" />
            </div>
          </div>
        </div>
        <div class="sen-line">
          <div class="sen-btn-right">
            <input type="button"
            class="btn btn-primary btn-lg sen-btn-search submitbtn"
            id="search" value="検索" />
          </div>
        </div>
        <table id="fav-table"
        class="table table-search table-striped table-hover table-bordered">
          <thead class="scrollHead">
            <tr class="th-color">
              <th class="name">社員名</th>
              <th class="date">年次</th>
              <th class="n_pj">PJ名</th>
              <th class="sdate">契約期間(開始)</th>
              <th class="edate">契約期間(終了)</th>
              <th class = "hidden">PJコード</th>
              <th class = "hidden">レコード番号</th>
              <th class = "hidden">部署名</th>
              <th class = "hidden">役職名</th>
              <th class = "hidden">資格1</th>
              <th class = "hidden">資格2</th>
              <th class = "hidden">資格3</th>
              <th class="btn-em"></th>
            </tr>
          </thead>
          <tbody class="scrollBody">
            <tr th:each="member:${form.employeeInfo}">
              <td th:text="${member.employeeName}"></td>
              <td th:text="${member.nenji}"></td>
              <td th:text="${member.pjName}"></td>
              <td th:text="${member.contractSDate}"></td>
              <td th:text="${member.contractEDate}"></td>
              <td class="hidden2" th:id = "${member.recordNo}" th:text="${member.pjCd}"></td>
              <td class="hidden2" th:id = "${member.recordNo}" th:text="${member.recordNo}"></td>
              <td class="hidden2" th:id = "${member.recordNo}" th:text="${member.departmentCd}"></td>
              <td class="hidden2" th:id = "${member.recordNo}" th:text="${member.positionCd}"></td>
              <td class="hidden2" th:id = "${member.recordNo}" th:text="${member.qualificationCd1}"></td>
              <td class="hidden2" th:id = "${member.recordNo}" th:text="${member.qualificationCd2}"></td>
              <td class="hidden2" th:id = "${member.recordNo}" th:text="${member.qualificationCd3}"></td>
              <td><input type="button"
              class="btn btn-info btn-md submitbtn"
              th:id="${member.employeeCd}" value="詳細"
              th:name="${member.recordNo}" /></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </main>

  <!--フッター-->
  <footer class="sen-footer">
    <div id="footer-area" th:replace="common/footer"></div>
  </footer>
</body>
</html>
