{% load static %}
<!-- Fixed navbar -->
<header>
  <nav
    class="navbar navbar-expand-md fixed-top sen-header"
  >
    <a class="py-0" href="#"
      ><img
        src="{% static 'app/images/unisystem-logo.png' %}"
        class="img-responsive"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-center my-0"
      id="navbarCollapse"
    >
      <h1 class="my-0">U-SWEB</h1>
    </div>
  </nav>
</header>
