{% load static %}
<div class="accordion" id="accordionExample">
  <!-- 社員情報 -->
  <div class="card">
    <div class="card-header" id="headingOne">
      <a
        class="btn btn-link btn-block text-left text-decoration-none stretched-link angle-icon"
        data-toggle="collapse"
        data-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        <i class="fas fa-angle-down mr-2"></i>社員情報<i class="fa fa-users ml-2"></i>
      </a>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
      <div class="card-body">
        <div>
          <i class="fas fa-save"></i
          ><a href="{% url 'app_usweb:employee_info_regist' %}">社員情報検索</a>
        </div>
      </div>
    </div>
  </div>
  <!-- 社員マスタ -->
  <div class="card">
    <div class="card-header" id="headingEmp">
      <a
        class="btn btn-link btn-block text-left text-decoration-none stretched-link angle-icon"
        data-toggle="collapse"
        data-target="#collapseEmp"
        aria-expanded="true"
        aria-controls="collapseEmp"
      >
        <i class="fas fa-angle-down mr-2"></i>社員マスタ<i
          class="fas fa-user-alt ml-2"
        ></i>
      </a>
    </div>
    <div id="collapseEmp" class="collapse" aria-labelledby="headingEmp">
      <div class="card-body">
        <div>
          <i class="fas fa-save"></i
          ><a href="{% url 'app_usweb:employee_info_regist' %}"
            >社員マスタ登録</a
          >
        </div>
        <div>
          <i class="fas fa-search"></i
          ><a href="{% url 'app_usweb:employee_info_regist' %}"
            >社員マスタ検索</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- モニタマスタ -->
  <div class="card">
    <div class="card-header" id="headingMonitor">
      <a
        class="btn btn-link btn-block text-left text-decoration-none stretched-link angle-icon"
        data-toggle="collapse"
        data-target="#collapseMonitor"
        aria-expanded="true"
        aria-controls="collapseMonitor"
      >
        <i class="fas fa-angle-down mr-2"></i>モニタマスタ<i
          class="fa fa-desktop ml-2"
        ></i>
      </a>
    </div>
    <div id="collapseMonitor" class="collapse" aria-labelledby="headingMonitor">
      <div class="card-body">
        <div>
          <i class="fas fa-save"></i
          ><a href="{% url 'app_usweb:employee_info_regist' %}"
            >モニタマスタ登録</a
          >
        </div>
        <div>
          <i class="fas fa-search"></i
          ><a href="{% url 'app_usweb:employee_info_regist' %}"
            >モニタマスタ検索</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- PCマスタ -->
  <div class="card">
    <div class="card-header" id="headingPc">
      <a
        class="btn btn-link btn-block text-left text-decoration-none stretched-link angle-icon"
        data-toggle="collapse"
        data-target="#collapsePc"
        aria-expanded="true"
        aria-controls="collapsePc"
      >
        <i class="fas fa-angle-down mr-2"></i>PCマスタ<i class="fa fa-laptop  ml-2"></i>
      </a>
    </div>
    <div id="collapsePc" class="collapse" aria-labelledby="headingPc">
      <div class="card-body">
        <div>
          <i class="fas fa-save"></i
          ><a href="{% url 'app_usweb:employee_info_regist' %}">PCマスタ登録</a>
        </div>
        <div>
          <i class="fas fa-search"></i
          ><a href="{% url 'app_usweb:employee_info_regist' %}">PCマスタ検索</a>
        </div>
      </div>
    </div>
  </div>
</div>
