{% load static %}
<!DOCTYPE html>

<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>社員マスタ登録</title>

<script type="text/javascript"	src="{% static 'app/js/common/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript"	src="{% static 'app/js/common/jquery-ui.js' %}"></script>
<script type="text/javascript"	src="{% static 'app/js/common/bootstrap.bundle.js' %}"></script>
<script type="text/javascript"	src="{% static 'app/js/common/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript"	src="{% static 'app/js/common/bootstrap-datepicker.ja.min.js' %}"></script>
<script type="text/javascript"	src="{% static 'app/js/common/bootstrap-select.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/common/common.js' %}"></script>
<link rel="stylesheet" type="text/css"href="{% static 'app/css/common/bootstrap.css' %}"/>
<link rel="stylesheet" type="text/css"	href="{% static 'app/css/common/bootstrap3icons.css' %}" />
<link rel="stylesheet" type="text/css"	href="{% static 'app/css/common/bootstrap-theme.min.css' %}" />
<link rel="stylesheet" type="text/css"	href="{% static 'app/css/common/bootstrap-datepicker.min.css' %}" />
<link rel="stylesheet" type="text/css"	href="{% static 'app/css/common/bootstrap-select.min.css' %}" />

<link rel="stylesheet" type="text/css"	href="{% static 'app/fontawesome/all.min.css' %}" />

<style>
/*保有資格の入力フォーム*/
sen-mx {
	width: 270px !important;
}

.sen-numeric-emp {
	text-align: center;
	width: 180px !important;;
	ime-mode: disabled;
}

.sen-required-position::before {
	font-weight: bold;
	color: #CC0000;
	content: "＊";
	margin-left: 30px
}
/*「登録」ボタンのレイアウト及び位置指定*/
.btn-position {
	position: relative;
	left: 0.5%;
	background-color: darkorange;
	border-style: solid;
	box-shadow: 1px 1px 2px;
}

/*「更新」ボタンのレイアウト及び位置指定*/
.btn-position-detail {
	position: relative;
	left: 0.5%;
	background-color: darkorange;
	border-style: solid;
	box-shadow: 1px 1px 2px;
}
</style>
<script>
	$(function() {
		$("#i_hire_data_ym").datepicker({
			language : 'ja',
			startView : 1,
			format : 'yyyymm',
			autoclose : true,
			immediateUpdates : true,
			minViewMode : 1,
			orientation : 'bottom',
		});
	});
</script>
<script>
	$(function() {return
		$(document)
				.on(
						"click",
						".btn",
						function() {
							var submit = $(this);
							if ($(this).val() == '登録') {
								$(function() {
									var flag = regCheck(flag);
									if (flag) {
										$("#mes").html(MESSAGE.ERR002).css(
												'color', 'red').css(
												'border-bottom',
												'solid 1px red');
										var scr = scrollTop(scr);
									} else {
										var $form = $("form");
										$
												.ajax(
														{
															type : 'POST',
															dataType : 'json',
															url : getContextUrl("{% url 'app_usweb:employee_info_regist' %}"),
															data : $form
																	.serialize(),
														})
												.done(
														function(data) {
															var error = data["msg"];
															if (error == null) {
																var regist = confirm(MESSAGE.INF001);
																if (regist == true) {
																	$(function() {
																		var $form = $("form");
																		$
																				.ajax(
																						{
																							type : 'GET',
																							dataType : 'html',
																							url : getContextUrl('/master/employee/register'),
																							data : $form
																									.serialize(),
																						})
																				.done(
																						function(
																								data) {
																							$(
																									"#mes")
																									.html(
																											MESSAGE.INF004)
																									.css(
																											'color',
																											'#3CB371')
																									.css(
																											'border-bottom',
																											'solid 1px #66CC33');
																							$(
																									'form')
																									.html(
																											$(
																													'form')
																													.html());
																							var scr = scrollTop(scr);
																							var date = datepicker(date);
																						})
																	})
																}
															} else {
																$("#mes")
																		.html(
																				MESSAGE.ERR003)
																		.css(
																				'color',
																				'red')
																		.css(
																				'border-bottom',
																				'solid 1px red');
																var scr = scrollTop(scr);
															}
														})
									}
								})
							}
							if ($(this).val() == '更新') {
								$(function() {
									var flag = regCheck(flag);
									if (flag) {
										$("#mes").html(MESSAGE.ERR002).css(
												'color', 'red').css(
												'border-bottom',
												'solid 1px red');
										var scr = scrollTop(scr);
									} else {
										var regist = confirm(MESSAGE.INF002);
										if (regist == true) {
											$(function() {
												var $form = $("form");
												$
														.ajax(
																{
																	type : 'GET',
																	dataType : 'html',
																	url : getContextUrl('/master/employee/update'),
																	data : $form
																			.serialize(),
																})
														.done(
																function(data) {
																	$("#mes")
																			.html(
																					MESSAGE.INF005)
																			.css(
																					'color',
																					'#3CB371')
																			.css(
																					'border-bottom',
																					'solid 1px #66CC33');
																	var scr = scrollTop(scr);
																})
											})
										}
									}
								})
							}
						})
		//必須項目チェック処理共通化
		function regCheck(flag) {
			var regex = new RegExp(/^[a-zA-Z]+$/);//空文字判定
			var str = "";
			var flag = 0;
			if (document.check.employee_cd.value == regex.test(str)) {
				flag = 1;
			} else if (document.check.employee_name.value == regex.test(str)) {
				flag = 1;
			} else if (document.check.hire_data_ym.value == regex.test(str)) {
				flag = 1;
			}
			return flag;
		}
	});
</script>
</head>


<body>


	<!--ヘッダ-->
	<header class="sen-header">
		<div id="header-area">{% include 'common/header.html' %}</div>
	</header>

	<!--メニュー-->
	<aside class="sen-menu" role="complementary" id="side">
		<div id="menu-area">{% include 'common/menu.html' %}</div>
	</aside>

	<main class="sen-contents clearfix" role="main" id="main">
	<div class="sen-main-contents">

		<p class="title">
			<b>社員マスタ登録</b>
		</p>

{% for key, value in form.errors.items %}
{{ key}}{{value}}
{% endfor %}

		<span id="mes" class="message"></span>

		<form th:id="form" th:object="${form}" method="POST" name="check">
		{% csrf_token %}
			<br></br>
			{% if employee_cd == null %}
			<p>	&emsp;&emsp;登録項目を入力してください。<b class="sen-required-position">は必須項目</b></p>
			{% else %}
			<p>&emsp;&emsp;更新項目を入力してください。<b class="sen-required-position">は必須項目</b></p>
			{% endif %}

			<div class="sen-line"></div>
			<div class="sen-required-position">
				<div class="sen-group-left-exist">
					<label class="sen-title-position">社員番号</label>
					{{ form.employee_cd }}
				</div>
			</div>

			<div class="sen-line"></div>
			<div class="sen-required-position">
				<div class="sen-group-left-exist">
					<label class="sen-title-position">氏名</label>
					{{ form.employee_name }}
				</div>
			</div>

			<div class="sen-line"></div>
			<div class="sen-group-left-nonexist">
				<label class="sen-title-position sen-cd">カナ氏名</label>
					{{ form.employee_name_kana }}
			</div>

			<div class="sen-line"></div>
			<div class="sen-required-position">
				<div class="sen-group-left-exist">
					<label class="sen-title-position sen-cd">入社年月</label>
					{{ form.hire_data_ym }}
				</div>
			</div>

			<div class="sen-line"></div>
			<div class="sen-group-left-nonexist">
				<label class="sen-title-position">趣味</label>
					{{ form.hobby }}
			</div>

			<div class="sen-line"></div>
			<div class="sen-group-left-nonexist">
				<label class="sen-title-position sen-cd">保有資格1</label>
					{{ form.qualification1 }}
			</div>

			<div class="sen-line"></div>
			<div class="sen-group-left-nonexist">
				<label class="sen-title-position sen-cd ">保有資格2</label>
					{{ form.qualification2 }}
			</div>

			<div class="sen-line"></div>
			<div class="sen-group-left-nonexist">
				<label class="sen-title-position">保有資格3</label>
					{{ form.qualification3 }}
			</div>
			<br></br> <br></br> <br></br> <br></br> <br></br>

			<div class="sen-btn-right">
				{% if employee_cd != null %}
				<a href="/U-SWEB/master/employee/search">
					<input id="btn-back" type="button" class="btn-lg btn-position-back btn" value="戻る" />
				</a>
					<input id="btn-update" type="button" class="btn-lg btn-position-detail btn" value="更新" />
				{% else %}
					<input id="btn-regist" type="submit" class="btn-lg btn-position btn" value="登録" />
				{% endif %}
			</div>
			<br></br> <br></br>
		</form>

	</div>
	</main>

	<!--フッター-->
	<footer class="sen-footer">
		<div id="footer-area">{% include 'common/footer.html' %}</div>
	</footer>
</body>

</html>