<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>モニタマスタ検索</title>
<script type="text/javascript"
	th:src="@{/js/common/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/common/jquery-ui.js}"></script>
<script type="text/javascript"
	th:src="@{/js/common/bootstrap.bundle.js}"></script>
<script type="text/javascript"
	th:src="@{/js/common/bootstrap-datepicker.js}"></script>
<script type="text/javascript"
	th:src="@{/js/common/bootstrap-datepicker.ja.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/common/bootstrap-select.js}"></script>
<script type="text/javascript" th:src="@{/js/common/common.js}"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/common/bootstrap.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/common/bootstrap3icons.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/common/bootstrap-theme.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/common/bootstrap-datepicker.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/common/bootstrap-select.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/common/style.css}" />
<script>
	//submitボタンの処理分け
	$(function() {
		$(document).on("click",".submitbtn",
				function() {
		  if ($(this).val() == '検索') {
					　  var numberCheck = $('#form [name=monitorCd]').val();
			  if(numberCheck.match(/^[0-9]+$/) || numberCheck=="" ){
			    	  var from = $('#form [name=machineIntro1]').val();
			    	  var to   = $('#form [name=machineIntro2]').val();
			    	  var date1 = new Date(from);
			    	  var date2 =　new Date(to);
			    if(date1>date2){
			    	$("#mes").html(MESSAGE.ERR006).css('color','red').css('border-bottom' ,'solid 1px red');
						$('html, body').animate({scrollTop:0});
			    }else{  
						event.preventDefault();
						var $form = $("form");
						$.ajax({
							type : 'GET',
							dataType : 'html',
							url :getContextUrl('/master/monitor/get'),
							data : $form.serialize(),
						}).done(function(data) {
						 var error=data.indexOf("name=\"msg\" value=\"\"");
					if(error!=-1){
							 $("table").html($("table", $(data)).html());
							 $("h1").html($("h1", $(data)).html());
					}else{
							$("#mes").html(MESSAGE.ERR001).css('color','red').css('border-bottom' ,'solid 1px red');
							$('html, body').animate({scrollTop:0});
						 }								 						 
						})
			    	}
			  }else{
						$("#mes").html(MESSAGE.ERR004).css('color','red').css('border-bottom' ,'solid 1px red');
						$('html, body').animate({scrollTop:0});
						}				
					}
					
			if ($(this).val() == '詳細') {
						var detail = $(this).attr("id");
						event.preventDefault();
						$.ajax({
							type : 'GET',
							dataType : 'json',
							url : getContextUrl('/master/monitor/check'),
							data : 'monitorCd=' + detail,
						}).done(function(data) {
							var error = data["msg"];
				  if(error==null){
					  event.preventDefault();
						$.ajax({
							type : 'GET',
							dataType : 'html',
							url : getContextUrl('/master/monitor/detail'),
							data : 'monitorCd=' + detail,
						}).done(function(data) {
							window.location.href = getContextUrl('/master/monitor/detail?monitorCd='+detail);
						})
				  }else{
						  $("#mes").html(error).css('color','red').css('border-bottom' ,'solid 1px red');
						  $('html, body').animate({scrollTop:0});
							}
						})
					}
					
			if ($(this).val() == '削除') {
						var id = $(this).attr("id");
						var nm = $(this).attr("name");
						var conf = confirm('モニターコード　:　' + id + '\n' + 'モニター名　　　:　'	+ nm + '\n' + '\n' + 'を削除しますか？');
					if (conf == true) { 
							event.preventDefault();
							$.ajax({
								type : 'GET',
								dataType : 'html',
								url : getContextUrl('/master/monitor/delete'),
								data : 'monitorCd=' + id,
							}).done(function(data) {
								$("#mes").html(MESSAGE.INF006).css('color','#3CB371').css('border-bottom' ,'solid 1px #66CC33');
								$('html, body').animate({scrollTop:0});
						　　　	event.preventDefault();
							  var $form = $("form");
							 $.ajax({
								type : 'GET',
								dataType : 'html',
								url :getContextUrl('/master/monitor/search'),
								data : $form.serialize(),
							}).done(function(data) {
								$('table').html($('table',$(data)).html());
							})
							})
					}else{
						//ここに必要であれば削除中止の際のメッセージ
						}
					}
				})
	});
</script>

<style type="text/css">
/*検索条件の項目同士の間のマージン*/
.sen-group-right {
	display: inline-flex;
	justify-content: center;
	align-items: stretch;
	border-radius: 0.3rem;
	text-align: center;
	height: 100%;
	margin: 0px 6px 0px 0px;
	border: 1px solid rgba(100, 100, 50, 1);
	margin-left: 90px;
}
/*テーブル内の特定の文字位置を中央*/
.font-position {
	text-align: center
}

.monitor-code {
	width: 16%;
}

.name-width {
	width: 30%;
}

.monitor-intro {
	width: 19%;
}

.btn-code {
	width: 65px;
}

.sen-title-position {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 150px;
	text-align: center;
	font-weight: 600;
	margin: 0px;
	color: rgb(232, 241, 234);
	background-color: #1253A4;
	border-top-left-radius: 0.3rem;
	border-bottom-left-radius: 0.3rem;
	border-right: 1px solid rgba(150, 150, 150, 1);
}

.sen-required-position::before {
	font-weight: bold;
	color: #CC0000;
	content: "＊";
	margin-left: 30px
}
/*「登録」ボタンのレイアウト及び位置指定*/
.btn-position {
	position: relative;
	left: 6.5%;
	background-color: darkorange;
	border-style: solid;
	box-shadow: 1px 1px 2px;
}

/*「更新」ボタンのレイアウト及び位置指定*/
.btn-position-detail {
	position: relative;
	left: 0.5%;
	background-color: darkorange;
	border-style: solid;
	box-shadow: 1px 1px 2px;
}

/*戻るボタンレイアウト*/
.btn-position-back {
	position: relative;
	left: -77%;
	background-color: #808080;
	border-style: solid;
	box-shadow: 1px 1px 2px;
}


</style>
</head>

<body>
	<header class="sen-header">
		<div id="header-area" th:replace="common/header"></div>
	</header>

	<aside class="sen-menu" role="complementary" id="side">
		<div id="menu-area" th:replace="common/menu"></div>
	</aside>

	<main class="sen-contents clearfix" role="main" id="main">
	<div class="sen-main-contents">
		<br></br>
		<p class="title">モニタマスタ検索</p>

		<form th:id="form" th:object="${form}" method="GET" autocomplete="off">
			<input type="hidden" th:field="*{msg}" id="" name="" />

			<h1>
				<span id="mes" class="message"></span>
			</h1>

			<div class="searchingbox">
				<div class="search-name">
					<p>検索条件</p>
				</div>
				<div class="sen-line">
					<div class="sen-group-left">
						<label class="sen-title">モニタコード</label> <input type="text"
							th:field="*{monitorCd}" class="form-control sen-cd sen-sm"
							maxlength="3" name="monitorCd" />
					</div>
					<div class="sen-group-right">
						<label class="sen-title">マシン名</label> <input type="text"
							th:field="*{machineNm}" class="form-control sen-text sen-sm"
							maxlength="20" />
					</div>
				</div>
				<div class="sen-line">
					<div class="sen-group-left">
						<label class="sen-title">機種名</label> <input type="text"
							th:field="*{modelNm}" class="form-control sen-text sen-sm"
							maxlength="20" />
					</div>
					<div class="sen-group-right">
						<label class="sen-title">導入年月日</label> <input type="text"
							id="datepicker" th:field="*{machineIntro1}"
							class="form-control sen-cd sen-ss" name="machineIntro1" />
					</div>
					<p class="tilde">~</p>
					<div class="sen-group">
						<input type="text" id="datepicker2" th:field="*{machineIntro2}"
							class="form-control sen-cd sen-ss" name="machineIntro2" />
					</div>
				</div>
			</div>
			<div class="sen-line">
				<div class="sen-btn-right">
					<input type="button" id="btn-search"
						class="btn btn-primary btn-lg sen-btn-search submitbtn"
						name="MonitorSearchForm" value="検索" />
				</div>
			</div>
			<br></br>

			<table
				class=" table table-striped table-hover table-bordered table-search ">
				<thead>
					<tr class="th-color">
						<th class="monitor-code">モニタコード</th>
						<th class="name-width">マシン名</th>
						<th class="name-width">機種名</th>
						<th class="monitor-intro">導入年月日</th>
						<th class="btn-code"></th>
						<th class="btn-code"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="member:${form.monitorInfo}">
						<td class="font-position" th:text="${member.monitorCd}"></td>
						<td th:text="${member.machineNm}"></td>
						<td th:text="${member.modelNm}"></td>
						<td class="font-position" th:text="${member.machineIntro}"></td>
						<td><input type="button"
							class="btn btn-info btn-md submitbtn" value="詳細"
							th:id="${member.monitorCd}" /></td>
						<td><input type="button"
							class="btn btn-danger btn-md submitbtn" value="削除"
							th:id="${member.monitorCd}" th:name="${member.machineNm}" /></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
	</main>
	<footer class="sen-footer">
		<div id="footer-area" th:replace="common/footer"></div>
	</footer>
</body>
</html>
